<% provide(:title, "About") %>
<h1>About</h1>
<p>
  MiniTwi is mini-size twitter-like application. You can post texts and follow users.
</p>
<p>
  How-to-use of this app is at 
  <%= link_to "here",   help_path %>.
</p>