<% provide(:title, "Help") %>
<h1>Help</h1>
<p>You can do the followings in this app.</p>
<ul>
  <li>Sign up and log in!</li>
  <li>Post short texts in home.</li>
  <li>You can also post images.</li>
  <li>Follow users in users page.</li>
  <li>Check the feed in home.</li>
  <li>You can change your profile in Settings of Account tab.</li>
  <li>Log out through Account tab if you need.</li>
</ul>
<p>  Get more help on MiniTwi by asking the deloper at 
  <a href="https://facebook.com/sota.zelda009">here</a>.
</p>